VITE_SPOTIFY_CLIENT_ID=your_spotify_client_id
VITE_SPOTIFY_CLIENT_SECRET=your_spotify_client_secret
VITE_YOUTUBE_API_KEY=your_youtube_api_key
VITE_YOUTUBE_API_KEY_SECONDARY=your_youtube_api_key_secondary
VITE_YOUTUBE_API_KEY_TERTIARY=your_youtube_api_key_tertiary
VITE_YOUTUBE_API_KEY_4=your_youtube_api_key_4
VITE_YOUTUBE_API_KEY_5=your_youtube_api_key_5
VITE_YOUTUBE_API_KEY_6=your_youtube_api_key_6
VITE_GOOGLE_CLIENT_ID=your_google_client_id
VITE_API_URL=http://localhost:5001/api
